/* ===== IMPORTS ===== */

/* ===== GLOBAL STUFF ===== */
:root {
  /* ===== COLORS ===== */

  /* --primary-blue: #3b4284; */
  /* --primary-dark-blue: #2a305e; */

  --primary-blue: #3a4183;
  --primary-dark-blue: #2a2f5e;
}

.clickable {
  color: black;
  text-decoration: none;
}

.b-bg-link {
  color: white;
}

.w-bg-link {
  color: black;
}

.bg-p-blue {
  background-color: var(--primary-blue);
}

p {
  font-size: 1.1em;
}

/* ===== TITLE SECTION ===== */
/* CLASS SELECTORS */
.title-banner {
  height: 50em;
  background-image: url(../assets/images/binary-bg.png);
}

.profile-photo {
  max-width: 30em;
  height: auto;
}

@media screen and (max-width: 1370px) {
  .profile-photo {
    max-width: 90%;
    height: auto;
  }
}

.profile-photo-div {
  text-align: center;
}

.title-text {
  padding-top: 25%;
}

.welcome-text {
  font-size: 5em;
}

.welcome-description {
  color: #c7c7c7;
  font-size: 1.3em;
}

/* ID SELECTORS */

/* ===== ABOUT-ME SECTION ===== */
/* CLASS SELECTORS */
/* ID SELECTORS */
#about-me-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* ===== EXPERIENCE SECTION ===== */
/* CLASS SELECTORS */
.experience-table {
  color: white;
}

/* ID SELECTORS */
#experience-section {
  background-color: var(--primary-dark-blue);
  color: white;
  padding-top: 3em;
  padding-bottom: 3em;
}

/* ===== WORKSHOPS SECTION ===== */
/* CLASS SELECTORS */
/* ID SELECTORS */
#workshops-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* ===== EDUCATION SECTION ===== */
/* CLASS SELECTORS */
.school-link {
  color: white;
}

/* ID SELECTORS */
#education-section {
  background-image: url("../assets/images/fct.png");
  color: white;
  padding-top: 3em;
  padding-bottom: 3em;
}

/* ===== SKILLS-LANGUAGE SECTION ===== */
/* CLASS SELECTORS */
.language-col {
  padding-top: 0;
}

@media screen and (max-width: 991px) {
  .language-col {
    padding-top: 3em;
  }
}

/* ID SELECTORS */
#skills-language-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* ===== HOBBIES SECTION ===== */
/* CLASS SELECTORS */
.hobbies-carousel-inner {
  padding: 7% 15%;
}

.hobby-icon {
  height: auto;
  width: 200px;
}

/* ID SELECTORS */
#hobbies-section {
  background-color: var(--primary-dark-blue);
  color: white;
  padding-top: 3em;
  padding-bottom: 3em;
}

/* ===== CONTACT-ME SECTION ===== */
/* CLASS SELECTORS */
.contact-me-icon {
  font-size: 5em;
}

/* ID SELECTORS */
#contact-me-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* ===== FOOTER SECTION ===== */
/* CLASS SELECTORS */
.author-footer {
  color: white;
}

.footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credits-button {
  width: 5em;
  background-color: var(--primary-blue);
}

/* ID SELECTORS */
#footer-section {
  background-color: var(--primary-dark-blue);
  height: 100px;
}
